// login
$loginBackground: #2d3a4b;

// sidebar
$menuText: #bfcbd9;
$menuActiveText: #e6a23c;
$subMenuActiveText: #f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #333333;
$menuHover: #444444;

$subMenuBg: #373737;
$subMenuHover: #272727;
$subMenuText: #bfcbd9;

$sideBarWidth: 300px;
$sideBarTitleBg: #282828;

$appMainBg: #f9f7f7;

$navbarBg: #ffffff;
$navbarHover: rgba(0, 0, 0, 0.025);
$navbarRightText: #5a5e66;

$breadcrumpText: #303133;
$breadcrumpTextHover: #e6a23c;
$linkTextBackground: #ecf5ff;

$buttonPrimary: #525252;
$buttonSecondary: #80A2B6;
$buttonTertiary: #e6a23c;

$headerTextColor: #c28831;
$linkTextColor: #e6a23c;

$success: #36b2c3;
$danger: #d64a66;
$warning: #e6a23c;
$slow: #56b1e8;
//$light: #c1c3c5;
$info: #606260;

$primary: #525252;
$secondary: #80A2B6;
$active: #80A2B6;
$assigned: #d64a66;
$closed: #909399;
$solved: #DDDBE2;
$inProgress: #EFE7E6;
$finished: #8C79A7;
$verified: #8C79A7;
$document: #005f73;
$research: #0a9396;
$epic: #409EEF;
$audit: #82DDF0;
$feature: #A0DA2C;
$bug: #E84855;
$issue: #5296A5;
$changeRequest: #A06CD5;
$risk: #FCD7AD;
$testPlan: #A57548;
$failManagement: #FF7033;

$created: #56b1e8; //dot ri-radio-button-line
$pending: #e6a23c; //pause ri-pause-circle-line
$running: #56b1e8; //pie el-loading-icon
$passed: #e6a23c; //! ri-error-warning-line
$failed: #d64a66; //cross ri-close-circle-line
$canceled: #606260; //\ ri-forbid-line
$manual: #606260; //gear ri-settings-5-line
$scheduled: #36b2c3; //clock ri-time-line
$skipped: #606260; //>> ri-arrow-right-double-line
$unknown: #606260; //? ri-question-line
