@import './mixin.scss';
@import './variables.scss';

.account-manage-table > .el-table--enable-row-hover .el-table__body tr:hover > td:not(:last-child) {
  cursor: pointer !important;
}

.buttonPrimary {
  @include button($buttonPrimary);
}

.buttonSecondary {
  @include button($buttonSecondary);
}

.buttonTertiary {
  @include button($buttonTertiary);
}

.buttonInfo {
  @include button($info);
}

.buttonPrimaryReverse {
  @include button-reverse($buttonPrimary);
}

.buttonSecondaryReverse {
  @include button-reverse($buttonSecondary);
}

.buttonTertiaryReverse {
  @include button-reverse($buttonTertiary);
}

.buttonInfoReverse {
  @include button-reverse($info);
}

// release table tags
.cell {
  > #release-tag {
    display: flex;
    flex-wrap: wrap;
    > div {
      margin-right: 10px;
    }
  }
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

.headerTextColor {
  color: $headerTextColor !important;
}

.linkTextColor {
  color: $headerTextColor !important;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    color: $linkTextColor !important;
  }
}

.notification {
  padding: 8px 16px !important;
  background-color: $noticeBackgroundColor !important;
  border-radius: 4px !important;
  border-left: 5px solid $switchActiveColor !important;
  margin: 10px 0;
  font-size: 13px !important;
  color: #515357 !important;
  width: 100% !important;
  text-align: left !important;
}

/*
* table operate button
* search icon with keyword: 'ri' or 'el'
* https://icon-sets.iconify.design
*/
.operate-button {
  font-size: 16px;
  color: $info;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 2px;
  border-radius: 15px;
  font-weight: bold;
  width: 24px;
  height: 24px;
  text-align: center;
  &.primary {
    color: $primary;
    &:hover {
      @include background-border-color($primary, $primary);
    }
  }
  &.success {
    color: $success;
    &:hover {
      @include background-border-color($success, $success);
    }
  }
  &.warning {
    color: $warning;
    &:hover {
      @include background-border-color($warning, $warning);
    }
  }
  &.danger {
    color: $danger;
    &:hover {
      @include background-border-color($danger, $danger);
    }
  }
  &.info {
    color: $info;
    &:hover {
      @include background-border-color($info, $info);
    }
  }
  &.help {
    cursor: help;
  }
  &.disabled {
    pointer-events: none;
  }
  &:hover {
    color: white;
    font-weight: normal;
    background-color: $info;
    font-size: 14px;
    padding: 3px;
  }
}

.project-dialog-loading {
  .el-loading-spinner {
    i {
      font-size: 30px;
      color: $linkTextColor !important;
    }
    .el-loading-text {
      font-size: 30px;
      color: $linkTextColor !important;
    }
  }
}

.project-dialog-template-loading {
  .el-loading-spinner {
    i {
      font-size: 15px !important;
    }
    .el-loading-text {
      font-size: 15px !important;
    }
  }
}

.text- {
  &success {
    color: $success !important;
  }
  &danger {
    color: $danger !important;
  }
  &info {
    color: $info !important;
  }
}

/*
* toast-ui editor css
*/
.toastui-editor-popup-add-link .toastui-editor-popup-body,
.toastui-editor-popup-add-image .toastui-editor-popup-body {
  padding: 0 20px 10px !important;
}

.toastui-editor-popup-add-image .toastui-editor-tabs {
  margin: 5px 0 !important;
}

.toastui-editor-popup-add-image .toastui-editor-tabs .tab-item {
  width: 50px !important;
  height: 30px !important;
  line-height: 30px !important;
}

.toastui-editor-popup-body label {
  margin: 5px 0 !important;
}

.toastui-editor-popup-body .toastui-editor-button-container {
  margin-top: 10px !important;
}

// VersionChecker tooltip
.update-tooltip.is-dark {
  background: #56b1e8;
  width: 150px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1.5px;
  > .popper__arrow {
    border-bottom-color: #56b1e8;
    &:after {
      border-bottom-color: #56b1e8;
    }
  }
}
