@import './mixin.scss';
@import './variables.module.scss';

.account-manage-table
  > .el-table--enable-row-hover
  .el-table__body
  tr:hover
  > td:not(:last-child) {
  cursor: pointer !important;
}

// release table tags
.cell {
  > #release-tag {
    display: flex;
    flex-wrap: wrap;

    > div {
      margin-right: 10px;
    }
  }
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

.header-text-color {
  color: $headerTextColor !important;
}

.link-text-color {
  color: $headerTextColor !important;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    color: $linkTextColor !important;
  }
}

.notification-danger {
  @include notifications($danger, $danger-1);
}

.notification-warning {
  @include notifications($warning, $warning-1);
}

.notification-info {
  @include notifications($info, $info-1);
}

.project-dialog-loading {
  .el-loading-spinner {
    i {
      font-size: 30px;
      color: $linkTextColor !important;
    }

    .el-loading-text {
      font-size: 30px;
      color: $linkTextColor !important;
    }
  }
}

.project-dialog-template-loading {
  .el-loading-spinner {
    i {
      font-size: 15px !important;
    }

    .el-loading-text {
      font-size: 15px !important;
    }
  }
}

/*
* table operate button
* search icon with keyword: 'ri' or 'el'
* https://icon-sets.iconify.design
*/
.table-button {
  font-size: 20px;
  color: $primary;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  margin: 0 1px;

  &.primary {
    color: $primary;

    &:hover {
      @include background-border-color($primary, $primary);
    }
  }

  &.success {
    color: $success;

    &:hover {
      @include background-border-color($success, $success);
    }
  }

  &.warning {
    color: $warning;

    &:hover {
      @include background-border-color($warning, $warning);
    }
  }

  &.danger {
    color: $danger;

    &:hover {
      @include background-border-color($danger, $danger);
    }
  }

  &.info {
    color: $info;

    &:hover {
      @include background-border-color($info, $info);
    }
  }

  &.help {
    cursor: help;
  }

  &.disabled {
    color: $info-5;
    pointer-events: none;
    cursor: not-allowed;
  }

  &:hover {
    color: white !important;
    background-color: $info;
  }
}

span:has(> .table-button.disabled) {
  cursor: not-allowed;
}

.text {
  &-success {
    color: $success !important;
  }

  &-danger {
    color: $danger !important;
  }

  &-info {
    color: $info !important;
  }
}

/*
* toast-ui editor css
*/
.toastui-editor-popup-add-link .toastui-editor-popup-body,
.toastui-editor-popup-add-image .toastui-editor-popup-body {
  padding: 0 20px 10px !important;
}

.toastui-editor-popup-add-image .toastui-editor-tabs {
  margin: 5px 0 !important;
}

.toastui-editor-popup-add-image .toastui-editor-tabs .tab-item {
  width: 50px !important;
  height: 30px !important;
  line-height: 30px !important;
}

.toastui-editor-popup-body label {
  margin: 5px 0 !important;
}

.toastui-editor-popup-body .toastui-editor-button-container {
  margin-top: 10px !important;
}

// VersionChecker tooltip
.update-tooltip.is-dark {
  width: 150px;
  font-size: 14px;
  text-align: center;
}

.relation-popper {
  padding: 0 !important;
  border-radius: 10px !important;
  border: none !important;
  font-size: 14px;

  > .popper__arrow {
    border-right-color: #fff !important;

    &:after {
      border-right-color: #fff !important;
    }
  }
}
