@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin background-border-color($backgroundColor, $borderColor) {
  background-color: $backgroundColor !important;
  border-color: $borderColor !important;
}

@mixin button($mainColor) {
  background-color: $mainColor !important;
  color: white !important;
  &:hover, &:active, &:focus {
    @include background-border-color($mainColor, $mainColor);
    color:white !important;
  }
}

@mixin button-reverse($mainColor) {
  border-color: $buttonBorderColor;
  color: $mainColor !important;
  background-color: white !important;
  &:focus {
    border-color: $buttonFocusBorderColor;
    color: $mainColor !important;
    background-color: white !important;
  }
  &:hover, &:active {
    background-color: $mainColor !important;
    border-color: $mainColor !important;
    color:white !important;
  }
}

@mixin flexbox-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
