// login
$loginBackground: #2d3a4b;

// sidebar
$menuText: #bfcbd9;
$menuActiveText: #f7e987;
$subMenuActiveText: #89c9b8; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #445069;
$menuHover: #263445;

$subMenuBg: #252b48;
$subMenuHover: #001528;
$subMenuText: #bfcbd9;

$sideBarWidth: 250px;
$sideBarTitleBg: #252b48;

$appMainBg: #efefef;

$navbarBg: #f9f9f9;
$navbarHover: rgba(0, 0, 0, 0.025);
$navbarRightText:#5a5e66;

$breadcrumpText: #303133;
$breadcrumpTextHover: #252b48;
$linkTextBackground: #ecf5ff;

$buttonPrimary: #252b48;
$buttonSecondary: #61a0a8;
$buttonTertiary: #5f6769;

$headerTextColor: #252b48;
$linkTextColor: #61a0a8;
$switchActiveColor: #e7b10a;
$noticeBackgroundColor: #fdf6ec;

$success: #2ec7c9;
$danger: #d87c7c;
$warning: #d7ab82;
$slow: #61a0a8;
$light: #c1c3c5;
$info: #606260;

$primary: #6e7074;
$secondary: #61a0a8;
$active: #5AB1EF;
$assigned: #D87A80;
$inProgress: #2EC7C9;
$solved: #C6B38E;
$verified: #B6A2DE;
$closed: #8D98B3;
$finished: #5f6769;
$document: #005f73;
$research: #363a3a;
$epic: #61a0a8;
$audit: #51557E;
$feature: #89c9b8;
$bug: #d87c7c;
$issue: #6e7074;
$changeRequest: #816797;
$risk: #e3CCae;
$testPlan: #a57548;
$failManagement: #d7ab82;

// Scheme 1
// $active: #d7ab82;
// $assigned: #d87c7c;
// $inProgress: #709EA7;
// $finished: #5f6769;
// $solved: #DEA08D;
// $verified: #97C7B9;
// $closed: #919398;